.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.loader-wrapper .loader {
  width: 80px;
  height: 80px;
}

.navbar-item img {
  max-height: none !important;
}


.account {
  padding-top: 40px;
}

.stat-val {
  font-size: 3em;
  padding-top: 20px;
  font-weight: bold;
}
  
.stat-key {
  font-size: 1.4em;
  font-weight: 200
}