.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.loader-wrapper .loader {
  width: 80px;
  height: 80px;
}

.navbar-item img {
  max-height: none !important;
}