* {
  margin: 0;
  padding: 0;
}

.Login {
  margin: 0 auto;
  width: 200px;
  padding-top: 100px;
}

.Login__field {
  margin: 10px 0;
}

.navigation {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.navigation a {
  margin-right: 20px;
}

.navigation__logout {
    margin-left: auto;
}

.navigation__content {
  width: 600px;
  margin: 0 auto;  
}